@font-face {
    font-family: "Pokemon Solid";
    src: url("../fonts/Pokemon\ Solid.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding-top: 5rem;
    padding-bottom: 5rem;
}

.pokemon-font {
    font-family: "Pokemon Solid";
    font-size: 2rem;
    color: #ffcb05;
    text-shadow: 3px 3px 0 #3d7dca;
}

.navbar-brand:hover {
    color: #ffcb05;
}

#alertPlaceholder {
    height: 1rem;
    margin-bottom: 6%;
}

.btn-main {
    width: 20rem;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
}

.btn-outline-warning {
    border: 1px solid #ffcb05;
}

.btn-outline-warning:hover {
    border: 1px solid #3d7dca;
    color: #3d7dca;
}

.opacity-transition {
    /* Al cambiar la opacidad de esta clase, demora 1 segundo, de manera gradual */
    transition: opacity 1s;
}

.montserrat-regular {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}